h1 {
  font-family: 'Roboto', sans-serif;
  font-size: .6rem;
  align-content: center;
 position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

li a {
  font-family: 'Roboto', sans-serif;  
  text-decoration: none;
  list-style-type: none; 
  color: #000000;
}

li {
  font-family: 'Roboto', sans-serif;  
  text-decoration: none;
  list-style-type: none; 
  position: absolute;
    top: 54%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  
    
}