* {
 
}

body {
 
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  
  background-color: #d5d5d5;

}

h1{
  position: absolute;
 top: 3%;
  left: 10%;
  margin-right: -50%;
 transform: translate(-50%, -50%)  
    
}

p {
 position: relative;
 top: 100px;
 margin-left: 10%;
 margin-right: 10%;

    
    
}


 
#player {
 
    position: relative;
    top: -50px;
    left: 150px;
    
}


.nav
{
    position: fixed;
   font-family: 'Roboto', sans-serif;
    position: absolute;
     color: #000000;
    top: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  
    
    
    
}
.nav li
{
    list-style-type: none;
    float: left;
     color: #000000;
    display: inline;
    padding-right: 40px;
     font-family: 'Roboto', sans-serif;
    
}

.nav li a
{
   
    color: #000000;
    font-family: 'Roboto', sans-serif;
    transition: opacity 1s ease;
    opacity: 0.7;
    text-decoration: none;
    word-spacing: 2em;
    
   
}

.nav li:hover a
{
    color: #ffffff;
    opacity: 1;
}



a {
  color: #1e6bb8;
  text-decoration: none;
  text-align: center;
  position: relative;
  bottom: 3px;
}
  a:hover {
    text-decoration: underline; }

.btn {
  
  position: relative;
  top: 350px;
  display: inline-block;
  
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  margin-left: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 9pt;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; 
  text-align: center;
}
  


<!--.site-footer {
  color: #ffffff;
  padding-bottom: 1px;
}

.site-footer-owner {
   color: #ffffff;
}

.site-footer-credits {
  color: #819198; }

-->

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem; } }

/*animations*/
.hvr-underline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;

}
.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #ffffff;
  height: 2px;
  
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:active:before {
  left: 0;
}
